:root {
    color-scheme: light dark;

    --b0: light-dark(white, #1a1a1a);
    --b1: var(--color-scheme, gray);
    --link-color: light-dark(royalblue, deepskyblue);
    --button-color: light-dark(royalblue, royalblue);

    --b1-light: color(from var(--b1) srgb r g b / 0.12);
    --b1-medium: color(
        from var(--b1) srgb calc(0.8 * r) calc(0.8 * g) calc(0.8 * b) /
        0.5
    );
    --b1-heavy: color(
        from var(--b1) srgb calc(0.35 * r) calc(0.35 * g) calc(0.35 * b) /
        0.9
    );

    --c0: oklch(from var(--b0) calc(100 * (0.78 - l)) 0 0 / 0.82);
    --c1: oklch(from var(--b1) calc(100 * (0.78 - l)) 0 0 / 0.82);
    --c2: oklch(from var(--button-color) calc(100 * (0.75 - l)) 0 0 / 0.82);

    /*
    --link-color: color(
        from var(--c0) srgb calc(r + 0.2) calc(g + 0.4) calc(b + 0.8)
    );
    */
    --link-decoration: underline;

    --max-content-width: 54em;
    --content-padding-x: 1.75rem;
    --content-padding-y: 1.75rem;
    --content-border-radius: 1rem;
    --space-x: 1rem;
    --block-margin-y: 1em;
    --hr-border: .15rem solid var(--b1-medium);
}
html {
    color: var(--c0);
    background-color: var(--b0);
    background-position: 50% 0;
}
body {
    font-size: 100%;
    font-family: sans-serif;
    /*
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    */
    line-height: 1.45;
    color: inherit;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
@media (max-width: 840px) {
    html {
        --content-padding-x: .85rem;
        --content-padding-y: 1rem;
    }
    body {
        font-size: 100%;
    }
}

p,
ul,
ol,
table,
pre,
blockquote {
    margin-top: var(--block-margin-y);
    margin-bottom: var(--block-margin-y);
}
ul,
ol {
    padding-inline-start: 2em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}

a.button {
    --bc1: color(from var(--c0) srgb r g b / 0.25);
    --bc2: color(
        from var(--c0) srgb calc(0.8 * r) calc(0.8 * g) calc(0.8 * b) /
        0.35
    );

    display: inline-block;
    min-width: 20%;
    text-decoration: none;
    color: var(--b0);
    background: color(from var(--c0) srgb r g b / 0.65);
    border: .075em solid var(--c0);
    border-color: var(--bc1) var(--bc2) var(--bc2) var(--bc1);
    border-radius: var(--r);
    padding: .25em 1.25em;
    margin: .5em;
    box-shadow: 0 0 .1em 0 var(--c0);
    transition: box-shadow .1s;
    box-sizing: border-box;
}
a.button:hover {
    box-shadow: 0 0 .25em 0 var(--c0);
}
a.button.primary {
    --bc1: color(from var(--button-color) srgb r g b / 0.55);
    --bc2: color(
        from var(--button-color) srgb calc(0.8 * r) calc(0.8 * g) calc(0.8 * b) /
        0.7
    );

    font-weight: bold;
    color: var(--c2);
    background: var(--button-color);
    box-shadow: 0 0 .2em 0 var(--button-color);
}
a.button.primary:hover {
    box-shadow: 0 0 .35em 0 var(--button-color);
}

h1 {
    --link-color: var(--c0);

    font-size: 2.25em;
    line-height: 1;
    margin: 0;
}
h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active {
    text-decoration: none;
}
h2,
h3,
h4 {
    line-height: 1.1;
}
h2 {
    font-size: 1.6em;
    border-bottom: var(--hr-border);
    padding-bottom: .1em;
    margin: 1em 0 .65em 0;
}
h3 {
    font-size: 1.3em;
    margin: 1em 0 .65em 0;
}
h4 {
    font-size: 1.15em;
    margin: 1em 0 .65em 0;
}

header,
.body,
footer {
    max-width: var(--max-content-width);
    margin: 0 auto;
    box-sizing: border-box;
}

header,
footer {
    padding: 0 var(--content-padding-x);
}

._regular .header.layer {
    color: var(--c1);
    background: var(--b1);
}
._regular h1 {
    --link-color: var(--c1);
}
._regular header {
    display: flex;
    align-items: flex-end;
    padding: .35em var(--content-padding-x);
}
._regular header p.actions {
    font-size: .65em;
    padding-bottom: .2rem;
    margin: 0 0 0 1.5em;
}
._regular header p.actions .sep {
    display: none;
}
._regular header p.actions a {
    display: inline-block;
    min-width: 5.5em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--b1);
    background: var(--c1);
    border-radius: .75em;
    padding: .1em .75em .1em;
    margin: .5em 1em .5em 0;
    box-sizing: border-box;
}
._regular header .description {
    display: none;
}
._regular header .actions [data-type="docs"] {
    display: none;
}
._regular footer p.installation {
    margin-top: 0;
}
@media (max-width: 840px) {
    ._regular footer p.installation {
        margin-top: var(--block-margin-y);
    }
}

.body {
    display: flex;
    align-items: stretch;
}
@media (max-width: 840px) {
    .body {
        display: block;
    }
}
/*
html:not(._cover) .body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*/

section {
    display: none;
}
section.active {
    display: block;
}
section {
    box-sizing: border-box;
}
section.cover {
    align-items: center;
    justify-content: center;
    padding: 0 var(--content-padding-x);
    margin: 6vh 0;
}
section.cover.active {
    display: flex;
}
@media (max-width: 840px) {
    section.cover {
        padding: 0;
        margin: 0;
    }
    section.cover.active {
        display: block;
    }
}
section h2:first-child {
    margin-top: 0;
}

.body > nav {
    width: 30%;
    flex: none;
    align-self: flex-start;
    font-size: .9em;
    background: var(--b1-light);
    border-radius: var(--content-border-radius);
    padding: calc(0.75 * var(--content-padding-y)) var(--content-padding-x)
        var(--content-padding-y);
    margin-top: var(--content-padding-y);
    margin-left: var(--space-x);
}
@media (max-width: 840px) {
    .body > nav {
        width: auto;
        font-size: inherit;
        border-top: .35em solid var(--b1);
        border-radius: 0;
        padding-top: 1.4em;
        margin-top: 0;
        margin-left: 0;
    }
}
.body > nav h1 {
    --link-color: var(--c0);

    font-size: 1.6em;
    margin-bottom: calc(0.75 * var(--content-padding-y));
}
.body > nav ul {
    padding: 0;
    padding-inline-start: 1em;
    margin: .25em 0;
}
.body > nav > ul {
    border-top: .05em solid var(--b1);
    padding-top: 1.2em;
    margin-top: 1.5em;
}
.body > nav ul ul {
    margin: .5em 0;
}
.body > nav li {
    margin-top: 0;
    margin-bottom: .2em;
}
.body > nav a.active {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}
.body > nav a.anchorjs-link {
    display: none;
}

main {
    width: calc(70% - var(--space-x));
    box-sizing: border-box;
}
@media (max-width: 840px) {
    main {
        width: 100%;
    }
}
.body.no-nav {
    --max-content-width: 45em;
}
.body.no-nav > main {
    width: auto;
}
html:not(._cover) main {
    padding: var(--content-padding-y) var(--content-padding-x);
}
main ul {
    padding: 0;
    padding-inline-start: 1.5em;
    margin: 1em 0;
}
main ul ul {
    margin: .5em 0;
}
main li {
    margin-top: 0;
    margin-bottom: .5em;
}

.highlight {
    border-radius: 1em;
}
pre,
code {
    font-size: .9em;
}
pre,
pre.highlight {
    line-height: 1.25;
    color: inherit;
    border-radius: 1em;
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1.25em;
}

.pagenav {
    --icon-width: 1.25em;

    display: flex;
    justify-content: space-between;
    gap: 1em;
    background: var(--b1-light);
    border-top: var(--hr-border);
    padding: .6em .75em .75em;
    margin: 1.5em 0 0;
}
@media (max-width: 840px) {
    .pagenav {
        padding: 1em var(--content-padding-x) 1.1em;
        margin: 2em calc(-1 * var(--content-padding-x))
            calc(-1 * var(--content-padding-y));
    }
}
.pagenav .prev,
.pagenav .next {
    display: inline-block;
    line-height: 1.2;
    position: relative;
}
.pagenav .icon {
    display: inline-block;
    width: var(--icon-width);
    box-sizing: border-box;
    position: absolute;
    top: 0;
}
.pagenav .prev {
    text-align: left;
}
.pagenav .prev .icon {
    left: 0;
}
.pagenav .next {
    text-align: right;
}
.pagenav .next .icon {
    right: 0;
}
.pagenav .prev {
    padding-left: var(--icon-width);
}
.pagenav .next {
    padding-right: var(--icon-width);
}
.pagenav .sep,
.pagenav .anchorjs-link,
.pagenav hr {
    display: none;
}

._cover h1 {
    font-size: 4.2em;
    margin: 2.5vh 0;
}
@media (max-width: 840px) {
    ._cover h1 {
        font-size: 3.6em;
    }
}
._cover h1 a {
    pointer-events: none;
}
._cover header {
    display: block;
    text-align: center;
    padding: 0 var(--content-padding-x);
}
._cover .description {
    margin: 0;
}
._cover .description p {
    margin-top: 0;
}
._cover .actions {
    --r: 1em;

    font-size: 1.25em;
    margin: .5em 0;
}
@media (max-width: 840px) {
    ._cover .actions {
        font-size: 1.15em;
    }
}
._cover .actions .sep {
    display: none;
}
._cover .body {
    --max-content-width: 32em;

    display: block;
    max-width: 100%;
    margin: 0 auto;
}
@media (max-width: 840px) {
    ._cover .body {
        --max-content-width: 100%;
    }
}
._cover .body > nav {
    display: none;
}
._cover main {
    width: auto;
}
._cover .subsection {
    max-width: var(--max-content-width);
    padding: 0 2.5em;
    box-sizing: border-box;
}
._cover .subsection + .subsection {
    border-left: .1em solid var(--b1-medium);
}
._cover .subsection.section-header {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5em;
}
@media (max-width: 840px) {
    ._cover .subsection {
        max-width: 100%;
        padding: 0 var(--content-padding-x);
    }
    ._cover .subsection + .subsection {
        border-left: none;
    }
    ._cover .subsection.section-header {
        padding-bottom: 0;
    }
}
._cover .features {
    --link-color: color(from var(--c0) srgb r g b / 0.55);
    --link-decoration: underline;

    margin: 6vh 0 3vh;
}
@media (max-width: 840px) {
    ._cover .features {
        padding: 0;
        margin: 5vh 0 4vh;
    }
}
._cover .features h2 {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    border: none;
    padding: .1em 0;
    margin: .75em 0 0;
}
._cover .features > ul {
    list-style: none;
    padding: 0;
    margin: .5em 0 0;
}
._cover .features > ul > li {
    background: var(--b1-light);
    border-radius: .5em;
    padding: .9em 1.2em;
    margin: 1em 0;
    box-sizing: border-box;
}
@media (max-width: 840px) {
    ._cover .features > ul > li {
        width: 100%;
        margin: .5em 0;
    }
}
._cover .features > ul > li > ul {
    list-style: disc;
}
._cover .note {
    padding: 0 3.5em;
    margin: 1.5em 0;
}
@media (max-width: 840px) {
    ._cover .note {
        padding: 0;
    }
}
._cover p.installation {
    font-size: 1.25em;
    text-align: center;
    margin: 6vh 0;
}
@media (max-width: 840px) {
    ._cover p.installation {
        margin: 6vh 0;
    }
}
