.layout {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

main {
    --max-content-width: 32em;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--content-padding-x);
    margin: 6vh 0;
}
@media (max-width: 840px) {
    main {
        --max-content-width: 100%;

        display: block;
        padding: 0;
    }
}

h1 {
    font-size: 4.2em;
    margin: 2.5vh 0;
}
@media (max-width: 840px) {
    h1 {
        font-size: 3.6em;
    }
}
h1 a {
    pointer-events: none;
}
header {
    display: block;
    text-align: center;
    padding: 0 var(--content-padding-x);
}
.description {
    margin: 0;
}
.description p {
    margin-top: 0;
}
.actions {
    --r: 1em;

    font-size: 1.25em;
    margin: .5em 0;
}
@media (max-width: 840px) {
    .actions {
        font-size: 1.15em;
    }
}
.actions .sep {
    display: none;
}
.ref {
    font-size: .9em;
}

section {
    max-width: var(--max-content-width);
    padding: 0 2.5em;
    box-sizing: border-box;
}
section + section {
    border-left: .1em solid var(--b1-medium);
}
section.intro-title {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5em;
}
@media (max-width: 840px) {
    section {
        max-width: 100%;
        padding: 0 var(--content-padding-x);
    }
    section + section {
        border-left: none;
    }
    section.intro-title {
        padding-bottom: 0;
    }
}
.features {
    --link-color: color(from var(--c0) srgb r g b / 0.55);
    --link-decoration: underline;

    margin: 6vh 0 3vh;
}
@media (max-width: 840px) {
    .features {
        padding: 0;
        margin: 8vh 0 4vh;
    }
}
.features h2 {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    border: none;
    padding: .1em 0;
    margin: .75em 0 0;
}
.features > ul {
    list-style: none;
    padding: 0;
    margin: .5em 0 0;
}
.features > ul > li {
    background: var(--b1-light);
    border-radius: .5em;
    padding: .9em 1.2em;
    margin: 1em 0;
    box-sizing: border-box;
}
@media (max-width: 840px) {
    .features > ul > li {
        width: 100%;
        margin: .5em 0;
    }
}
.features > ul > li > ul {
    list-style: disc;
}
.note {
    padding: 0 3.5em;
    margin: 1.5em 0;
}
@media (max-width: 840px) {
    .note {
        padding: 0;
    }
}
p.installation {
    font-size: 1.25em;
    text-align: center;
    margin: 6vh 0;
}
.installation code {
    background: transparent;
}
@media (max-width: 840px) {
    p.installation {
        margin: 6vh 0;
    }
}
